@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/images/Wariant2.webp');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // backdrop-filter: blur(1px);
  background-blend-mode: overlay;
  // background-color: ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}